:root {
  --base-unit: 0.25rem;
  --font-size-12: calc(var(--font-base-unit) * 3);
  --font-size-16: calc(var(--font-base-unit) * 4);

  --space-base-unit: var(--base-unit);
  --space-8: calc(var(--space-base-unit) * 2);
  --space-16: calc(var(--space-base-unit) * 4);
  --space-24: calc(var(--space-base-unit) * 6);
  --space-32: calc(var(--space-base-unit) * 8);
  --space-40: calc(var(--space-base-unit) * 10);

  --color-primary-light: rgb(255, 255, 255);
  --color-primary-dark: #242424;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-container {
  display: flex;
  position: relative;
}

.dropdown-input {
  width: 100%;

  border: 1px solid var(--color-primary-dark);
  border-radius: 5px;
  padding: var(--space-8);
  line-height: var(--space-24);
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  input {
    width: 100%;
    border: none;
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
  }

  input:focus {
    outline: none;
  }
}
