body {
  background-color: var(--jade-2); 
  font-size: 14px;
}

button, input { 
  margin: 8px 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--jade-3); 
  color: var(--jade-8);
  font-family: "Roboto";
}

form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 400px;
  padding: 16px;

  button {
    max-width: 120px;
  }
}


