@import '@radix-ui/colors/jade.css';

body {
  background-color: var(--jade-2); 
  font-size: 14px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--jade-3); 
  color: var(--jade-8);
}

form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input {
  all:unset;
  width: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 6px; */
  padding: 0 10px;
  height: 36px;
  font-size: 14px;
  line-height: 1;
  color:var(--jade-9);
  border-bottom: solid 1px;
  /* background-color: var(--jade-5); */
  /* border-color: var(--jade-5); */
}



button {
  height: 36px;
  /* width: 92px; */
  margin: 18px 0;
  background-color: var(--jade-5);
  color: var(--jade-8);
  /* border-radius: 6px; */
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  border-color: var(--jade-5);
}

button:hover {
  border-color: var(--jade-6);
}

button:focus,
button:focus-visible {
  outline: 1px auto;
}
