@import '@radix-ui/colors/green.css';

button {
  all: unset;
  
  /* reset */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  border: 1px solid;
  background-color: var(--green-4);
  color: var(--green-11);
}

button:hover {
  background-color: var(--green-5);
}

button:focus {
  box-shadow: 0 0 0 2px var(--green-7);
}